.grid{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 80px;
    left: 0;

    padding-right: 30px;
    padding-left: 30px;


    width:100vw;

    box-sizing: border-box;
    
    
}

.video-container {
    flex: 1;
    max-width: 100vw;
    min-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 350px;
    max-height: 500px;
    min-height: 200px;
    width: 100%;
    height: auto;
    border-radius: 12px; 
    overflow: hidden;
    background-color: #000;
    aspect-ratio: 16/9;
}

.js-video {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}



.video-basic-info{
    margin-top: 10px;

    width: 100%;
    height: auto;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-bottom: 5px;
}

.video-title{
    font-size: 16px;
}

.profile-container{
    margin-top: 10px;

    width: 100%;
    height: 40px; 

    display: flex;
    justify-content: space-between;

}

.profile-container .profile-info{

    width: 50%;
    height: 40px;
    display: flex;

    width: 100%;
}

.profile-image{
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.profile-ajust{
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    margin-left: 10px;
    max-width: calc(100% - 120px);
    width: 150px;
}

.profile-name{
    font-size: 15px;
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;
}

.profile-subscribes{
    font-size: 10px;
    width: fit-content;
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;
}

.profile-name,
.profile-subscribes{
    width: 80%;
}

.subscribe-button{
    color: black;
    font-weight: bold;

    height: 40px;
    width: 120px;

    background-color: white;
    border:none;
    border-left: none;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius:40px;

    cursor: pointer;
}

.subscribe-button:hover{
    filter: invert(10%);
}

.ui-buttons{
    display: flex;
    align-self: center;
    justify-content: flex-end;

    width: 40%;
    height: 40px;

}

.share-button{
    width: 80px;

    border-radius: 40px;
    border: none;

    background-color: #222;
    color: white;
    font-size: 15px;
}

.likes{
    width: 150px;

    display: flex;
    
    margin-right: 30px;
}

.like-button,
.unlike-button{
    width: 50%;

    background-color: #222;
    color: white;
    border: none;
}

.like-button{
    border-radius: 40px 0 0 40px;
}

.unlike-button{
    border-radius: 0 40px 40px 0;
}

.like-button::after{
    content: "";
    position: absolute;

    height: 20px;
    width: 1px;
    background-color: #989898;

    margin-left: 25px;

    align-self: center;
}

.share-button:hover,
.like-button:hover,
.unlike-button:hover{
    background-color: #303030;
    cursor: pointer;
}

.side-navbar.active{
    transform: translate(80px);
}

@media (min-width: 1020px) {
    .grid-videos{
        flex: 1;
        max-width: calc(100vw - 1080px);
    }
}

@media (max-width: 590px) {
    .grid {
        justify-content: center;
        left: 0;
    }

    .profile-info,
    .ui-buttons{
        width: 100%;
        justify-content: flex-start;
    }

    .profile-container{
        
        flex-direction: column;
        height: 100px;
    }
}

@media (max-width:1020px){
    .grid{
        width: 100vw;

        flex-direction: column;
        padding-right: 50px;
    }

    .grid-videos{

        margin-top: 50px;

        max-width: 1000px;
        width: 100%;
        padding: 0;
    }


    .grid-videos::before{
        content: "";
        position: absolute;

        width: calc(100vw - 100px);
        height: 0.5px;

        background-color: rgb(146, 146, 146);

        margin-top: -20px;
    }
}