/** @format */

@import url("./../../main.module.css");

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-container {
	width: 60vw;
	border-radius: 25px;
	background-color: rgb(226, 230, 230);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: -5px -5px 5px rgb(255, 255, 255),
		-1px -1px 10px rgb(255, 255, 255), 5px 5px 20px black,
		1px 1px 1px rgb(143, 139, 139);
	background-color: rgb(243, 246, 248);
}

.chat-form {
	width: 100%;
	height: 50px;
}

.input {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.input-bar {
	width: 70%;
	height: 40px;
	border: none;
	border-radius: 30px;
	box-shadow: inset 5px 3px 12px rgb(166, 165, 165);
	padding-left: 15px;
	font-size: 20px;
}

.input-button {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50%;
	background-color: #333;
	cursor: pointer;
	transition: background 0.3s;
}

.input-button:hover {
	background-color: #555;
}

.history-chat {
	width: 100%;
	display: flex;
	flex-direction: column;
	max-height: 400px;
	overflow-y: auto;
	scroll-behavior: smooth;
	transition: all 0.5s ease-in-out;
}

.history-chat .scroll-anchor {
	height: 1px;
}

.ai-chat,
.user-chat {
	height: auto;
	max-width: 80%;
	display: flex;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: pre-wrap;
	border-radius: 20px;
	margin-top: 15px;
	padding: 10px 15px;
}

.message {
	width: fit-content;
	max-width: 500px;
	border-radius: 30px;
	padding: 10px 20px;
	display: flex;
}

.message strong {
	float: left;
	height: fit-content;
}

.ai-chat {
	align-self: flex-start;
	margin-left: 10px;
}

.user-chat {
	align-self: flex-end;
	margin-right: 10px;
}

.user-chat .message {
	background-color: rgb(225, 224, 222);
	box-shadow: inset 5px 3px 12px rgb(183, 186, 253);
}

.ai-chat .message {
	background-color: rgb(225, 224, 222);
	box-shadow: inset 5px 3px 12px rgb(133, 216, 157);
}

.is-loading {
	width: 50px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	align-self: flex-start;
}

.loading-dot {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: rgb(50, 50, 50);
	animation: jump infinite linear 1s;
}

.loading-dot:nth-of-type(1) {
	animation-delay: 100ms;
}
.loading-dot:nth-of-type(2) {
	animation-delay: 200ms;
}
.loading-dot:nth-of-type(3) {
	animation-delay: 300ms;
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0);
	}
}
