<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube</title>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="icon" type="image/x-icon" href="../assets/icons/logo.png">
    <link rel="stylesheet" href="../styles/grid.css">
    <link rel="stylesheet" href="../styles/side.css">
</head>
<body>
    <header>
        <nav class="header-navbar">
            <div class="left-part">
                <button class="nav-button">
                    <img src="../assets/images/bar.png" alt="">
                </button>
                <a href="" class="to-home">
                    <img src="../assets/icons/logo.png" alt="">
                    <p>Youtube</p>
                </a>
            </div>
            <div class="middle-part">
                <form action="" onsubmit="return false;">
                   
                        <input type="text" class="search-bar">
                        <button type="submit" class="search-button">
                            <img src="../assets/images/search-icon.png" alt="">
                        </button>
                   
                </form>
                <button class="microphone-button">
                    <img src="../assets/images/microphone.png" alt="">
                </button>
            </div>
            <div class="right-part">
                <button class="notifications-button ">
                    <img src="../assets/images/notification.png" alt="">
                </button>
                <button class="profile-button">
                    <img src="../assets/images/profile.png" alt="">
                </button>
            </div>
        </nav>
    </header>
    <section class="container">
        <nav class="side-navbar">
            <a href="" class="nav-link">
                <img src="../assets/images/home.png" alt="">
                Home
            </a>
            <a href="" class="nav-link">
                <img src="../assets/images/shorts.png" alt="">
                Shorts
            </a>
            <a href="" class="nav-link">
                <img src="../assets/images/subscription.png" alt="">
                Subscribtion
            </a>
            <a href="" class="nav-link">
                <img src="../assets/images/profile.png" alt="">
                You
            </a>
        </nav>

        <div class="grid">
        
        </div>

    </section>
    <script type="module" src="../scripts/home/eventLiseners.js"></script>
    <script type="module" src="../scripts/home/main.js"></script>
</body>
</html>