<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/global/header.css">
    <link rel="icon" type="image/x-icon" href="../assets/icons/logo.png">
    <link rel="stylesheet" href="../styles/global/side.css">
    <link rel="stylesheet" href="../styles/video/videos-grid.css">
    <link rel="stylesheet" href="../styles/video/grid.css">
    <title>Youtube</title>
</head>
<body>
    <header>
        <nav class="header-navbar">
            <div class="left-part">
                <button class="nav-button">
                    <img src="../assets/images/bar.png" alt="">
                </button>
                <a href="" class="to-home">
                    <img src="../assets/icons/logo.png" alt="">
                    <p>Youtube</p>
                </a>
            </div>
            <div class="middle-part">
                <form action="http://localhost:3000/search" method="post" class="js-search-form">
                    <input type="text" class="search-bar" name="query" placeholder="Căutare...">
                    <button type="submit" class="search-button">
                        <img src="../assets/images/search-icon.png" alt="">
                    </button>
                </form>
                <button class="microphone-button">
                    <img src="../assets/images/microphone.png" alt="">
                </button>
            </div>
            <div class="right-part">
                <button class="notifications-button ">
                    <img src="../assets/images/notification.png" alt="">
                </button>
                <button class="profile-button">
                    <img src="../assets/images/profile.png" alt="">
                </button>
            </div>
        </nav>
    </header>
    <section class="container">
        <nav class="side-navbar" style="left: -80px;">
            <a href="" class="nav-link">
                <img src="../assets/images/home.png" alt="">
                Home
            </a>
            <a href="" class="nav-link">
                <img src="../assets/images/shorts.png" alt="">
                Shorts
            </a>
            <a href="" class="nav-link">
                <img src="../assets/images/subscription.png" alt="">
                Subscribtion
            </a>
            <a href="" class="nav-link">
                <img src="../assets/images/profile.png" alt="">
                You
            </a>
        </nav>
    
        <div class="grid">
            <div class="video-container">
                <div class="video-wrapper">
                    <video class="js-video" controls>
                        <source src="video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                
                <div class="video-basic-info">
                    <h1 clas="video-title">Your shoulders need these exercises</h1>
                    <div class="profile-container">
                        <div class="profile-info">
                            <img src="https://yt3.ggpht.com/GC6phJ-2jiEq7-sd3FwrxSoh6hN4_txZRw1dCLKRBVq74rEqmJBRo73z84v7acWLYYZa-LymfQ=s88-c-k-c0x00ffffff-no-rj" alt="" class="profile-image">
                            <div class="profile-ajust">
                                <p class="profile-name">Yellow Dude | Gravgear</p>
                                <p class="profile-subscribes">319K subscribers</p>
                            </div>
                            <button class="subscribe-button">Subscribe</button>
                        </div>
                        
                        <div class="ui-buttons">
                            <div class="likes">
                                <button class="like-button">Like</button>
                                <button class="unlike-button">Unlike</button>
                            </div>
                            <button class="share-button">Share</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-videos">
                <div class="filter-video">
                    <a href="">
                        <img src="https://i.ytimg.com/vi/VLBL1VrNLG0/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCj-Qx-TEOknBFfOvlBuvsDAUt_IQ" alt="">
                    </a>
                    <div class="video-info">
                        <a href="" class="title">Backend web development - a complete overview</a>
                        <div class="profile-info">
                            <a href="" class="profile-name">SuperSimpleDev</a>
                            <p class="views-and-time">2M views ~ 3 years ago</p>
                        </div>
                    </div>
                </div>

                <div class="filter-video">
                    <a href="">
                        <img src="https://i.ytimg.com/vi/VLBL1VrNLG0/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCj-Qx-TEOknBFfOvlBuvsDAUt_IQ" alt="">
                    </a>
                    <div class="video-info">
                        <a href="" class="title">Backend web development - a complete overview</a>
                        <div class="profile-info">
                            <a href="" class="profile-name">SuperSimpleDev</a>
                            <p class="views-and-time">2M views ~ 3 years ago</p>
                        </div>
                    </div>
                </div>
                <div class="filter-video">
                    <a href="">
                        <img src="https://i.ytimg.com/vi/VLBL1VrNLG0/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCj-Qx-TEOknBFfOvlBuvsDAUt_IQ" alt="">
                    </a>
                    <div class="video-info">
                        <a href="" class="title">Backend web development - a complete overview</a>
                        <div class="profile-info">
                            <a href="" class="profile-name">SuperSimpleDev</a>
                            <p class="views-and-time">2M views ~ 3 years ago</p>
                        </div>
                    </div>
                </div>
                <div class="filter-video">
                    <a href="">
                        <img src="https://i.ytimg.com/vi/VLBL1VrNLG0/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCj-Qx-TEOknBFfOvlBuvsDAUt_IQ" alt="">
                    </a>
                    <div class="video-info">
                        <a href="" class="title">Backend web development - a complete overview</a>
                        <div class="profile-info">
                            <a href="" class="profile-name">SuperSimpleDev</a>
                            <p class="views-and-time">2M views ~ 3 years ago</p>
                        </div>
                    </div>
                </div>
                <div class="filter-video">
                    <a href="">
                        <img src="https://i.ytimg.com/vi/VLBL1VrNLG0/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCj-Qx-TEOknBFfOvlBuvsDAUt_IQ" alt="">
                    </a>
                    <div class="video-info">
                        <a href="" class="title">Backend web development - a complete overview</a>
                        <div class="profile-info">
                            <a href="" class="profile-name">SuperSimpleDev</a>
                            <p class="views-and-time">2M views ~ 3 years ago</p>
                        </div>
                    </div>
                </div>
                <div class="filter-video">
                    <a href="">
                        <img src="https://i.ytimg.com/vi/VLBL1VrNLG0/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCj-Qx-TEOknBFfOvlBuvsDAUt_IQ" alt="">
                    </a>
                    <div class="video-info">
                        <a href="" class="title">Backend web development - a complete overview</a>
                        <div class="profile-info">
                            <a href="" class="profile-name">SuperSimpleDev</a>
                            <p class="views-and-time">2M views ~ 3 years ago</p>
                        </div>
                    </div>
                </div>
                <div class="filter-video">
                    <a href="">
                        <img src="https://i.ytimg.com/vi/VLBL1VrNLG0/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCj-Qx-TEOknBFfOvlBuvsDAUt_IQ" alt="">
                    </a>
                    <div class="video-info">
                        <a href="" class="title">Backend web development - a complete overview</a>
                        <div class="profile-info">
                            <a href="" class="profile-name">SuperSimpleDev</a>
                            <p class="views-and-time">2M views ~ 3 years ago</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="comments">

            </div>
        </div>
    </section>

    <script type="module" src="../scripts/video/render.js"></script>
    <script type="module" src="../scripts/globalEventLisener.js"></script>
</body>
</html>