<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/global/header.css">
    <link rel="icon" type="image/x-icon" href="../assets/icons/logo.png">
    <link rel="stylesheet" href="../styles/global/side.css">
    <link rel="stylesheet" href="../styles/video/videos-grid.css">
    <link rel="stylesheet" href="../styles/video/grid.css">
    <title>Youtube</title>
</head>
<body>
    <header>
        <nav class="header-navbar">
            <div class="left-part">
                <button class="nav-button">
                    <img src="../assets/images/bar.png" alt="">
                </button>
                <a href="home.html" class="to-home">
                    <img src="../assets/icons/logo.png" alt="">
                    <p>Youtube</p>
                </a>
            </div>
            <div class="middle-part">
                <form action="http://localhost:3000/search" method="post" class="js-search-form">
                    <input type="text" class="search-bar" name="query" placeholder="Căutare...">
                    <button type="submit" class="search-button">
                        <img src="../assets/images/search-icon.png" alt="">
                    </button>
                </form>
                <button class="microphone-button">
                    <img src="../assets/images/microphone.png" alt="">
                </button>
            </div>
            <div class="right-part">
                <button class="notifications-button ">
                    <img src="../assets/images/notification.png" alt="">
                </button>
                <button class="profile-button">
                    <a href="./my-profile.html">
                        <img src="../assets/images/profile.png" alt="">
                    </a>
                </button>
            </div>
        </nav>
    </header>
    <section class="container">
        <nav class="side-navbar" style="left: -80px;">
            <a href="" class="nav-link">
                <img src="../assets/images/home.png" alt="">
                Home
            </a>
            <a href="" class="nav-link">
                <img src="../assets/images/shorts.png" alt="">
                Shorts
            </a>
            <a href="" class="nav-link">
                <img src="../assets/images/subscription.png" alt="">
                Subscribtion
            </a>
            <a href="" class="nav-link">
                <img src="../assets/images/profile.png" alt="">
                You
            </a>
        </nav>
    
        <div class="grid">
            <div class="video-container">
                
            </div>
            <div class="grid-videos">
                
            </div>
            
            <div class="comments">

            </div>
        </div>
    </section>

   <script type="module" src="../scripts/video/main.js"></script>
    <script type="module" src="../scripts/globalEventLisener.js"></script>
</body>
</html>