.navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    background: transparent;
    transition: all 5ms ease-out;
}
.home-link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    font-weight: bold;
}
.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 50%;
}
.navbar ul li {
    list-style: none;
}
.nav-link, .account-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}
.nav-link:hover, .home-link a:hover, .account-link:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}
.account-link {
    display: flex;
    align-items: center;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .navbar {
        padding: 0 20px;
    }
    .navbar ul,
    .account-link {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #222;
        padding: 10px 0;
        text-align: center;
    }
    .navbar ul.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
}