/** @format */

body {
	display: block;
	place-content: center;
	place-items: center;
}
.form {
	width: 500px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 25px;
	box-shadow: -5px -5px 5px rgb(255, 255, 255),
		-1px -1px 10px rgb(255, 255, 255), 5px 5px 20px black,
		1px 1px 1px rgb(143, 139, 139);
	background-color: rgb(243, 246, 248);
	padding: 20px;
}
.inputs {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.inputs input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 20px;

	box-shadow: inset 5px 3px 12px rgb(166, 165, 165);
}

.button {
	margin-top: 20px;
	padding: 10px;

	width: 50%;
	align-self: center;

	background-color: var(--primary);
	color: white;
	border: none;
	border-radius: 25px;
	cursor: pointer;

	transition: all 0.5s ease-in-out;
}

.button:hover {
	filter: invert(100%);
	transform: scale(1.2);

	box-shadow: inset 5px 5px 20px rgb(119, 118, 118),
		inset -5px -5px 20px rgb(119, 118, 118);
}
