/** @format */
@import url("./../../../main.module.css");

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(220, 220, 220);
}

form {
	width: 300px;
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 25px;
	box-shadow: -5px -5px 5px rgb(255, 255, 255),
		-1px -1px 10px rgb(255, 255, 255), 5px 5px 20px black,
		1px 1px 1px rgb(143, 139, 139);
	background-color: rgb(243, 246, 248);
	padding: 20px;
}

.info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.info-wrapper img {
	width: 70px;
	border-radius: 50%;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 80%;
}

.inputs input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 20px;

	box-shadow: inset 5px 3px 12px rgb(166, 165, 165);
}

button {
	margin-top: 10px;
	padding: 10px;

	width: 50%;
	align-self: center;

	background-color: var(--primary);
	color: white;
	border: none;
	border-radius: 25px;
	cursor: pointer;

	transition: all 0.5s ease-in-out;
}

button:hover {
	filter: invert(100%);
	transform: scale(1.2);

	box-shadow: inset 5px 5px 20px rgb(119, 118, 118),
		inset -5px -5px 20px rgb(119, 118, 118);
}

.help-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15px;
	gap: 5px;
}

.help-wrapper a {
	color: blue;
	text-decoration: none;
	font-size: 14px;
}

.help-wrapper a:hover {
	text-decoration: underline;
	cursor: pointer;
}
